.contenedor__verification__main {
  height: 80vh;
}

.contenedor__verification_mail {
  background: rgb(239, 238, 241);
  width: 75em;
  height: 100%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 4em;
  border-radius: 1em;
}

.contenedor__verification_mail img {
  height: 12em;
  display: block;

  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}
.titulo__verification__mail {
  text-align: center;
  padding-top: 1em;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 2em;
}

.text__verification__mail {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

.text__login__link {
  text-align: center;
}

.link__verification__mail {
  font-weight: 700;
}
