/*Variables*/
:root {
  --primary: #143066;
  --secondary: #ffcf06;
  --third: #ffff;
  --textColor: rgb(50, 49, 50);
}

.main {
  background: var(--third);

  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner-pagos {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: red;
  margin-top: 1em;
}
.title-section {
  font-weight: 500;
  font-size: 1.2em;
  color: rgb(50, 48, 54);
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
}

.ofertas-contenedor {
  background-color: var(--third);
  box-shadow: 2px 6px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-right: 1.2em;
  margin-left: 1.2em;
  border-radius: 5px;
}

.ofertas-contenedor:hover {
  box-shadow: 3px 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.flex__container {
  display: flex;
  flex-flow: wrap;
}
