/*Variables*/
:root {
  --primary: #143066;
  --secondary: #ffcf06;
  --third: #ffff;
  --textColor: rgb(50, 49, 50);
}

.navbar-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--textColor);
  padding-left: 1em;
  padding-right: 1em;
  max-height: 3.2em;
}

.navbar__menu__main {
  text-align: center;
}
/* ------------------------------ */

.li__carrito a {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.h3-nav {
  color: var(--third);
  font-size: 0.8em;
}
.navbar-contenedor a {
  color: var(--third);
  text-decoration: none;
}

.navbar-contenedor a:hover {
  margin: 0 1rem;
  color: var(--secondary);
  text-decoration: none;
}

.navbar-contenedor .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--third);
  visibility: hidden;
  opacity: 0;
  font-size: 2em;
}

.navbar-contenedor div,
nav {
  display: flex;
  align-items: center;
}

.navbar-contenedor .nav-btn {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.navbar-contenedor nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  background-color: var(--primary);
  transition: 0.6s;
  transform: translateX(-250vh);
  z-index: 99999;
}

.navbar-contenedor .responsive_nav {
  transform: none;
}

.navbar-contenedor .nav-close-btn {
  position: absolute;
  top: 0.3em;
  right: 1rem;
  color: var(--secondary);
}

.navbar-contenedor a {
  font-size: 1.5em;
}

.navbar-contenedor li {
  margin-bottom: 0.8em;
}

hr.division__menu {
  width: 9em;
  border-bottom: 0.1em solid var(--secondary);
}

.badgeCarrito {
  background-color: red;
  width: 1.8em;
  font-weight: 500;
  font-size: 0.8em;
  color: var(--third);
  border-radius: 1em;
  justify-content: center;
}

.navbar__menu__account {
  width: 100%;
  text-align: center;
}
.items-cart-bars {
  background-color: red;
  width: 0.2em;
  font-weight: 400;
  font-size: 0.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: var(--third);
  border-radius: 0.6em;
  justify-content: center;
  position: absolute;
  margin-left: 1em;
}
.arrow-down {
  color: #ffcf06;
}

.btn-Salir {
  color: white;
}

.submenu,
.submenu_admin,
.subMenu_catrgories {
  display: none;
  border: #ffcf06;
  background: #162746;
  overflow: auto;
  transition: all 0.3s;
  margin-top: 1em;
  padding-top: 0.5em;
  font-size: 0.85em;
}

.dropbtn {
  color: var(--third);
  font-weight: 500;
  font-size: 1.4em;
  margin-top: 0.2em;
}
.show {
  display: block;
}
.btn-Salir {
  color: white;
}
.dropbtn__salir {
  color: var(--third);
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 0em;
}
/*Large tablest & laptop styles*/
@media screen and (min-width: 960px) {
  .navbar-contenedor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--primary);
    color: var(--textColor);
    padding-left: 4em;
    padding-right: 4em;
    max-height: 4.2em;
  }

  /* ------------------------------ */
  .h3-nav {
    color: var(--third);
    margin-right: 2em;
    font-size: 1.2em;
  }
  .navbar-contenedor .nav-btn {
    visibility: hidden;
  }

  .navbar-contenedor nav {
    display: block;
    background-color: var(--primary);
  }
  .navbar-contenedor nav {
    display: flex;
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    transform: translateX(-0vh);
    z-index: 99999;
  }

  .navbar-contenedor a {
    font-size: 0.8em;
  }

  hr.division__menu {
    display: none;
  }

  .navbar__menu__account {
    display: flex;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 1em;
  }

  .li__carrito a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #ffcf06;
    margin-right: 0em;
    padding-top: 0.25em;
    font-size: 1em;
    justify-content: center;
    width: 5em;
  }

  .li__carrito a:hover {
    margin: 0 4rem;
    color: white;
    text-decoration: none;
  }
  .navbar__menu__main {
    display: flex;
    gap: 1.5em;
    text-align: center;
    margin-right: 2em;
  }
  .navbar__nav {
    margin-top: 0.8em;
  }
  .navbar-contenedor a:hover {
    margin: 0 0rem;
    color: var(--secondary);
    text-decoration: none;
  }

  .container-submenu {
    font-size: 0.8em;
    padding-top: 0.01em;
  }
  .dropbtn {
    color: var(--third);
    font-weight: 500;
    font-size: 1em;
    margin-top: 0.3em;
    margin-right: 1.4em;
  }

  .dropbtn__salir {
    color: var(--third);
    font-weight: 500;
    font-size: 0.8em;
    margin-top: 0.35em;
  }
  .show {
    position: relative;
    display: block;
  }

  .submenu,
  .submenu_admin,
  .subMenu_catrgories {
    position: absolute;
    border: #ffcf06;
    background: #162746;
    overflow: auto;
    transition: all 0.3s;
    margin-top: 0.4em;
    padding-top: 0.5em;
    font-size: 0.85em;
    min-width: 170px;
  }

  .container-submenu-admin {
    font-size: 0.8em;
  }
}
