/*Small Tables Styles*/
@media screen and (max-width: 960px) {
  .oh__contenedor {
    background: rgb(255, 255, 255);
    margin: 0;
    padding-bottom: 2em;
  }
  .contenedor-tabla-user {
    width: 100%;
  }
  .oh_title {
    text-align: center;
    padding-top: 1.4em;
    margin-bottom: 1.2em;
    font-size: 1.4em;
    font-weight: 500;
  }

  .my__history__container {
    width: 100%;
    margin: 0 auto;
  }
  .tabla-ordenes-user {
    background: rgb(255, 255, 255);
    margin: 1em;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 1em;
    border-radius: 0.6em;
    margin-bottom: 1em;
  }

  .item__order__history {
    background: rgb(255, 255, 255);
    width: 80%;
    margin-bottom: 1em;
    padding-left: 1.2em;
    padding-top: 0.5em;
    box-shadow: 4px 4px 11px rgba(33, 33, 33, 0.2);
    border-radius: 0.2em;
  }

  .header-tabla {
    display: none;
  }

  .tabla-row-id-user {
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    color: rgb(63, 63, 63);
  }

  .tabla-row-createdAt {
    width: 100%;
    color: rgb(63, 61, 68);
  }

  .tabla-row-totalPrice {
    width: 100%;
    color: rgb(63, 61, 68);
  }

  .tabla-row-isPaid {
    width: 100%;
    font-size: 1.2em;
  }

  .tabla-row-isDelivered {
    width: 100%;
    font-size: 1.2em;
  }

  .tabla-row-order {
    margin-top: 0.6em;
    margin-bottom: 1em;
  }

  .button-action-order {
    color: rgb(49, 10, 111);
    background: rgb(236, 236, 236);
    padding: 0.4em;
    border-radius: 0.6em;
    font-size: 1em;
    font-weight: 600;
  }

  .button-action-order:hover {
    color: rgb(251, 192, 14);
    background: rgb(31, 12, 113);
    padding: 0.4em;
    border-radius: 0.6em;
    font-size: 1em;
    font-weight: 600;
  }
  .box-status {
    color: rgb(68, 4, 128);
    font-size: 0.8em;
    font-weight: 600;
  }
}

.txt-pagado {
  color: rgb(0, 182, 112);
  font-weight: 600;
  font-size: 0.8em;
}

.txt-noPagado {
  color: rgb(238, 139, 1);
  font-weight: 500;
  font-size: 0.8em;
}
/*Large tablest & laptop styles*/
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
  .oh__contenedor {
    background: rgb(255, 255, 255);
    margin: 0;
    padding-bottom: 2em;
    min-height: 700px;
  }
  .my__history__container {
    width: 900px;
    margin: 0 auto;
  }
  .titulo-historial {
    margin-left: 3em;
    padding-top: 1em;
    margin-bottom: 2em;
    color: rgb(20, 11, 77);
  }

  .oh_title {
    justify-content: center;
    text-align: center;
    padding-top: 1.4em;
    margin-bottom: 1em;
    color: rgb(100, 100, 113);
    font-size: 1.4em;
    font-weight: 500;
  }

  .header-contenedor {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 0.2em;
    text-align: center;
    font-weight: 600;
    color: rgb(22, 10, 81);
    width: 85em;
    margin: auto;
  }
  .contenedor-tabla-user {
    grid-column-start: 1;
    grid-column-end: -1;
    /*background-color: transparent;*/
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin-bottom: 2em;
    text-align: center;
    width: 85em;
    margin: auto;
    min-height: 18em;
  }

  .tabla-ordenes-user {
    display: grid;
    grid-template-columns: repeat(6, auto);
    background-color: rgb(221, 221, 221);
    margin: auto;
    margin-bottom: 2em;
    padding: 0.8em;
    border-radius: 0.4em;
  }
  .tabla-row-id-user {
    width: 12em;
  }

  .tabla-row-createdAt {
    width: 9em;
  }

  .tabla-row-totalPrice {
    width: 12em;
  }

  .tabla-row-isPaid {
    width: 6em;
  }

  .tabla-row-isDelivered {
    width: 12em;
  }

  .tabla-row-order {
    width: 12em;
  }
  .button-action-order {
    background: none;
    color: rgb(51, 22, 137);
    font-weight: 500;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }
  .item__order__history {
    background: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-radius: 0.2em;
    padding-left: 1.2em;
    padding-top: 0.5em;
    box-shadow: 4px 4px 11px rgba(33, 33, 33, 0.2);
  }

  .button-action-order:hover {
    color: rgb(251, 192, 14);
    background: rgb(31, 12, 113);
    padding: 0.2em;
    border-radius: 0.2em;
    font-size: 1em;
    font-weight: 600;
  }
}
