.tarjeta-producto {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 4px;
  transition: 0.3s;
  text-decoration: none;
  color: rgb(22, 22, 22);
  border: 1px solid rgb(90, 89, 89, 0.2);
}

.tarjeta-producto:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.tarjeta-link img {
  height: 12em;
  max-width: 100%;
  overflow: hidden;
}

.item-cantidad {
  padding-top: 0.2em;
  padding-left: 1em;
  font-size: 1.2em;
  font-weight: 500;
}

.producto__info__nombre {
  font-size: 0.8em;
  margin-left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1em;
}

.contenedor-item-info {
  background: white;
  border-top: 2px solid rgba(51, 51, 51, 0.2);
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .product__container__main {
    text-align: center;
  }

  .tarjeta-producto {
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none;
    color: rgb(11, 11, 11);
    border: 1px solid rgb(90, 89, 89, 0.2);
    display: inline-block;
    margin: 0 auto;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  .tarjeta-producto .contenedor-imagen {
    height: 16em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }

  .producto__info__nombre {
    font-size: 1em;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1em;
    font-weight: 600;
    color: rgb(57, 50, 71);
  }

  .contenedor-item-info {
    text-align: center;
    width: 100%;
    background: rgb(253, 253, 253);
    border-top: 2px solid rgba(51, 51, 51, 0.2);
  }

  .item-original-price {
    font-size: 0.7em;
    text-decoration: line-through;
    color: rgb(147, 147, 147);
  }

  .item-cantidad {
    padding-top: 0.2em;
    padding-left: 0em;
    font-size: 1.2em;
    font-weight: 500;
  }

  .tarjeta-link img {
    height: auto;
    max-width: 85%;
    overflow: hidden;
  }
}

/*Large tablest & laptop styles*/
@media screen and (min-width: 960px) {
  .tarjeta-producto {
    background-color: rgb(255, 255, 255);
    width: 1em;
    margin-top: 0.5em;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    text-decoration: none;
    color: rgb(22, 22, 22);
  }

  .tarjeta-producto:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  .tarjeta-producto .contenedor-imagen {
    height: 14em;
    width: 14em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }

  .contenedor-imagen .tarjeta-link {
    cursor: pointer;
    height: 21.062em;
    width: 14em;
    position: absolute;
    background: white;
    transition: all 0.3s ease;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .tarjeta-link img {
    margin-top: 1em;
  }
  .contenedor-imagen .tarjeta-link:hover {
    transform: scale(1.1);
  }

  .contenedor-item-info {
    width: 14em;
    border-top-color: transparent;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    position: relative;
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    height: 7em;
  }

  .contenedor-item-info .item-cantidad {
    height: 3em;
    width: 100%;
  }

  .contenedor-item-info .item-meses {
    height: 1.4em;
    width: 100%;
  }

  .item-cantidad {
    padding-top: 0.6em;
  }
  .contenedor-item-info .item-cantidad-tag {
    font-size: 1.2em;
  }

  .item-original-price {
    font-size: 0.8em;
    text-decoration: line-through;
    color: rgb(147, 147, 147);
  }
  .contenedor-item-info .item-meses {
    padding-top: 0.8em;
    font-size: 0.8em;
    margin-left: 16px;
  }
}
