.contenedor__product_screen {
  display: block;
  padding: 1em;
  height: 100%;
}

.contenedor__product__name {
  font-size: 1em;
  font-weight: 500;
  margin-top: 1em;
}

.contenedor__prodict__image img {
  width: 100%;
  height: auto;
}
.contenedor__product__precio {
  font-size: 0.9em;
}

.contenedor__product__oferta {
  font-size: 1.8em;
  font-weight: 500;
  padding-top: 0.2em;
}

.contenedor-botones {
  margin-top: 1em;
}

.boton-compra-one {
  width: 100%;
  margin-top: 0.5em;
  background-color: #3483fa;
  border-color: transparent;
  color: #fff;
  box-shadow: 0 0 0 0 #fff;
  cursor: pointer;
  border-radius: 6px;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  height: 3em;
  line-height: 48px;
  padding: 0 24px;
  text-align: center;
  -webkit-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
}

.boton-compra-two {
  width: 100%;
  margin-top: 0.5em;
  background-color: #d9edfc;
  border-color: transparent;
  color: rgb(0, 83, 238);
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 6px;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  height: 3em;
  line-height: 48px;
  padding: 0 24px;
  text-align: center;
  -webkit-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
}

.success {
  color: rgb(0, 202, 101);
  font-weight: 600;
}

.danger {
  color: rgb(202, 7, 0);
  font-weight: 600;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #c9c9c9;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 1em;
  text-align: center;
}

/* ---- accessorios -----*/

.ui-pdp-container-accesorios {
  background-color: #f0f1f4;
  margin-top: 1em;
  margin-left: 1em;
  padding-bottom: 1.5em;
  padding-top: 1em;
  border-radius: 3%;
}

.accesorios-contenedor {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin-top: 1em;
}

.accesorios-item {
  background-color: rgb(254, 254, 254);
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 0.54em;
  color: #6e7078;
  font-weight: 500;
  display: grid;
  grid-template-columns: auto 3fr 1fr 1fr;
  height: 3em;
}

.img-accesorio {
  width: 2.3em;
  height: 2.8em;
  margin-right: 0.2em;
  border: 2px solid rgb(166, 169, 189);
}

.txt-accesorio {
  align-items: center;
  display: flex;
  width: 100%;
  font-size: 0.7em;
  padding-left: 0.2em;
}

.panel-accesorio {
  display: flex;
  height: 100%;
}

.quantity-accesorio-minus,
.quantity-accesorio-plus {
  color: #fcb706;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.quantityItemAccesorio {
  font-size: 0.8em;
  line-height: 4.2em;
}

.total-accesorio {
  font-size: 0.6em;
  font-weight: 600;
  padding: 50% 0;
  color: #20222a;
}

.caracteristicas-title {
  color: rgba(62, 60, 65, 0.9);
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  display: block;
  font-size: 1em;
}

/* ----- Descripcion ----- */
.info__product__section {
  margin-left: 1em;
}

.info_product_descripcion {
  margin-bottom: 1em;
}

.info_product_description_title {
  margin-bottom: 1em;
}

.info_product_descripcion_txt {
  font-size: 0.8em;
}
/*Large tablest & laptop styles*/
@media screen and (min-width: 960px) {
  .contenedor__product_screen {
    display: block;
    padding: 1em;
    height: 100vh;
    width: 18em;
  }

  .contenedor__product__name {
    font-size: 1em;
    font-weight: 500;
    margin-top: 1em;
  }

  .contenedor__prodict__image img {
    width: 100%;
    height: auto;
  }
  .contenedor__product__precio {
    font-size: 0.9em;
  }

  .contenedor__product__oferta {
    font-size: 1.8em;
    font-weight: 500;
    padding-top: 0.2em;
  }

  .contenedor-botones {
    margin-top: 1em;
  }

  .boton-compra-one {
    width: 100%;
    margin-top: 0.5em;
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    box-shadow: 0 0 0 0 #fff;
    cursor: pointer;
    border-radius: 6px;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    height: 3em;
    line-height: 48px;
    padding: 0 24px;
    text-align: center;
    -webkit-transition: 0.18s ease-out;
    transition: 0.18s ease-out;
  }

  .boton-compra-two {
    width: 100%;
    margin-top: 0.5em;
    background-color: #d9edfc;
    border-color: transparent;
    color: rgb(0, 83, 238);
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 6px;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    height: 3em;
    line-height: 48px;
    padding: 0 24px;
    text-align: center;
    -webkit-transition: 0.18s ease-out;
    transition: 0.18s ease-out;
  }

  .success {
    color: rgb(0, 202, 101);
    font-weight: 600;
  }

  .danger {
    color: rgb(202, 7, 0);
    font-weight: 600;
  }
}
