.titulo-lista-productos {
  margin-left: 10em;
  margin-top: 0.8em;
  font-size: 1em;
  color: rgb(74, 63, 120);
}

.table-component-products {
  background: #fff;
  margin-bottom: 8em;
}
.header-contenedor {
  background-color: rgb(230, 230, 230);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 0.2em;
  text-align: center;
  font-weight: 600;
  color: rgb(22, 10, 81);
  width: 85em;
}
.contenedor-tabla-lista-productos {
  background-color: rgb(230, 230, 230);
  grid-column-start: 1;
  grid-column-end: -1;
  /*background-color: transparent;*/
  display: grid;
  grid-template-columns: repeat(1, auto);
  margin-bottom: 0.2em;
  text-align: center;
  width: 85em;
  margin: auto;
  padding: 0.5em;
}

.tabla-productos {
  display: grid;
  grid-template-columns: repeat(1, auto);
  padding: 0.5em;
  margin: auto;
}
.tabla__headers {
  display: grid;
  grid-template-columns: 2.5fr 3fr 2fr 2fr 1fr 1fr;
  padding: 0.5em;
  text-align: center;
}
.tabla-productos-info {
  display: grid;
  grid-template-columns: repeat(6, auto);
  padding: 0.5em;
  margin: auto;
}
.tabla-row-id {
  padding: 0.5em;
  width: 12em;
}

.tabla-row-name {
  width: 28em;
}

.tabla-row-price {
  width: 12em;
}

.tabla-row-isPaid {
  width: 6em;
}

.tabla-row-category {
  width: 12em;
}

.tabla-row-edit {
  width: 8em;
}

.tabla-row-delete {
  width: 8em;
}
.header-tabla {
  font-weight: 700;
}

.contenedor-botones-crear {
  margin-bottom: 1em;
  display: flex;
  padding-left: 10em;
}
.button-createProd {
  border: none;
  margin-top: 1em;
  background-color: rgb(97, 67, 247);
  border-radius: 0.6em;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  width: 12em;
  height: 2em;
  font-size: 0.8em;
}
.button-edit {
  border: none;
  color: rgb(31, 21, 96);
  font-weight: 600;
  cursor: pointer;
}
.button-edit:hover {
  color: rgb(36, 12, 193);
}
.button-delete {
  border: none;
  color: rgb(164, 9, 9);
  font-weight: 600;
  cursor: pointer;
}
.button-delete:hover {
  color: rgb(255, 1, 1);
}
