.contenedor-signup-base {
  width: 100%;
  height: 100%;
  display: grid;
  background: rgb(236, 236, 236);
}

.contenedoor-signup-main {
  background: white;
  margin: 1em;
  padding: 1em;
  border-radius: 0.4em;
}

.singup-titulo {
  font-size: 1.4em;
  font-weight: 500;
  color: rgb(53, 49, 70);
  text-align: center;
  margin-bottom: 1em;
}

.contenedor-signup-form {
  padding: 1em;
}

.contenedor-btn-signup {
  margin-top: 1em;
}
.signup-form-input input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.6em;
  margin-bottom: 1em;
  border: 0;
  background: rgb(234, 235, 238);
  border-radius: 1em;
  box-shadow: 4px 4px 2px 4px rgba(16, 16, 16, 0.02);
}

.signup-info {
  margin-top: 1em;
  text-align: center;
  display: block;
  font-size: 1.2em;
}

.signup-link {
  color: rgb(255, 191, 0);
}

.error__signup_form,
.error__name,
.error__last__name,
.error__postal__code,
.error__phone,
.error__pass__one,
.error__pass__two {
  font-size: 0.7em;
  color: rgb(94, 32, 135);
  display: none;
  margin-bottom: 1em;
  text-align: left;
}

.input__name:invalid[focused="true"] ~ .error__name {
  display: block;
}

.input__last__name:invalid[focused="true"] ~ .error__last__name {
  display: block;
}
.input__postal__code:invalid[focused="true"] ~ .error__postal__code {
  display: block;
}

.input__phone:invalid[focused="true"] ~ .error__phone {
  display: block;
}

.input__pass__one:invalid[focused="true"] ~ .error__pass__one {
  display: block;
}

.input__pass__two:invalid[focused="true"] ~ .error__pass__two {
  display: block;
}

.contenedor-btn-signup {
  text-align: center;
}
/*Large tablest & laptop styles*/
@media screen and (min-width: 960px) {
  .contenedor-signup-base {
    width: 100%;
    height: 100%;
    display: block;
    background: rgb(236, 236, 236);
    padding-top: 2em;
    padding-bottom: 4em;
  }

  .contenedoor-signup-main {
    background: white;
    width: 360px;
    text-align: center;
    padding: 1em;
    border-radius: 0.4em;
    margin: 0 auto;
    padding-left: 4.2em;
    padding-right: 4.2em;
    border-radius: 0 0 8px 8px;
    padding-bottom: 4em;
  }

  .singup-titulo {
    font-size: 1.4em;
    font-weight: 500;
    color: rgb(53, 49, 70);
    text-align: center;
    margin-bottom: 0.8em;
    margin-top: 1em;
  }

  .signup-info {
    margin-top: 1em;
    text-align: center;
    display: block;
    font-size: 1em;
  }

  .signup-link {
    color: rgb(255, 191, 0);
  }

  .boton-continuar-signin {
    margin-top: 2em;
  }

  .contenedor-btn-signup {
    margin-top: 1em;
  }
}
